.playerStatus {
  flex: 1;
  border: 0.25rem solid var(--color-gray-200); /* 4px */
  padding: 3.5rem 0; /* 56px */
  text-align: center;
}

.playerStatus.active {
  color: var(--color-gray-900);
  background-color: var(--color-gray-200);
}

.latestGuess {
  margin: 0;
  font-size: var(--text-2xl);
}

.playerStatus h2 {
  font-size: var(--text-lg);
  margin: 0 0 3rem 0;
}

.resultMessage {
  margin: 0;
  font-size: var(--text-xl);
}

.winner {
  border-color: var(--color-green);
  color: var(--color-gray-900);
  background-color: var(--color-green);
}

.loser {
  border-color: var(--color-red);
  color: var(--color-gray-900);
  background-color: var(--color-red);
}
